<launch>
  <node name="arduino_connector" pkg="rosserial_python" type="serial_node.py">
  </node>

  <node name="touch_suica_correct" pkg="jsk_2020_10_semi" type="beep_ros_ic_sound_play.py"/>

  <node name="touch_suica_wrong" pkg="jsk_2020_10_semi" type="alarm_ic_sound_play.py"/>

  <node name="show_qrcode" pkg="jsk_2020_10_semi" type="paypay_sound_ros.py" />

  <node name="show_qrcode" pkg="jsk_2020_10_semi" type="qrcode_rect.py" />

</launch>
